---
import Footer from '../components/Footer.astro'
import Hero from '../components/Hero.astro'
import Loading from '../components/Loading.astro'
import { ConceptText } from '../components/react/ConceptText'
import { FadeInWrapper } from '../components/react/FadeInWrapper'
import { SlideAppearWrapper } from '../components/react/SlideAppearWrapper'
import { products } from '../constants/products'
import { topPage } from '../constants/topPage'
import Layout from '../layouts/Layout.astro'

const wishes = [
  {
    title: '緊張をなくしたい',
    description:
      '現代人の多くが悩んでいる「コリ（肩こり、首こり、腰痛等）」の原因の一つである「緊張」。筋肉の緊張も精神の緊張もカラダにコリを与えます。カラダが最もリラックスできる環境をサポートします。',
  },
  {
    title: '冷えをなくしたい',
    description:
      '「冷えは万病のもと」と言われ、古来よりカラダを温める治療法は数多く存在しています。特に高度な発展を遂げた現代において、狩猟時代と比べ筋肉や体温調整機能は衰えています。冷えたカラダに、優しく心地よい温もりを与えます。',
  },
  {
    title: 'ストレスをなくしたい',
    description:
      'リラックスできる環境を整えるには、細部までこだわらなければなりません。心が落ち着くような触り心地、ずっと使い続けられる耐久性、洗練されたデザインなど、毎日気持ちよく使えて、ストレスフリーな使い心地を提供します。',
  },
]
---

<Layout {...topPage.pageMeta}>
  <main>
    <Hero />
    <section class="concept">
      <div class="concept-inner">
        <div class="concept-back">
          <img src="/top/concept_back.png" loading="lazy" alt="" />
        </div>
        <ConceptText client:load />
        <p class="concept-text">
          私たちCALQS(カルクス)は、岐阜県岐阜市で生まれたリラクゼーションブランドです。
          「カラダを軽く、ココロも軽く。」をコンセプトに、ヒトのカラダが最も心地よく負担の無い状態に導く為のサポートを行います。<br
          />
          また、日常に溶け込むシンプルなプロダクトデザインや洗練された独自機能によりココロも落ち着く環境を整えます。<br
          />
          そして、皆様の未来にいつまでも寄り添えるような高品質の製品をお届けします。
        </p>
      </div>
    </section>
    <section class="section-gray">
      <h2 class="h2"><span class="h2-sub">OUR WISH</span>カラダとココロを軽くする、<br class="sp" />3つの願い</h2>
      {
        wishes.map((wish, index) => (
          <section class:list={['wish-section', `back-${index + 1}`]}>
            <div class:list={['wish-inner', index === 1 && 'wish-right']}>
              <FadeInWrapper client:load>
                <div class="wish-content">
                  <h3 class="wish-h3">{wish.title}</h3>
                  <p class="wish-p">{wish.description}</p>
                </div>
              </FadeInWrapper>
            </div>
          </section>
        ))
      }
    </section>
    <section class="section-white">
      <h2 class="h2"><span class="h2-sub">PRODUCTS</span>商品一覧</h2>
      {
        products.slice(0, 3).map((product, index) => (
          <FadeInWrapper client:load>
            <section class="product">
              <a href={`/products/${product.code}`} class="product-link">
                <img src={`/top/product_${index + 1}.png`} class="product-img" loading="lazy" alt={product.title} />
              </a>
              <div class="product-text">
                <a href={`/products/${product.code}`}>
                  <h3 class="product-h3">{product.title}</h3>
                </a>
                <h4 class="product-h4">{product.subtitle}</h4>
                <p class="product-description">{product.description}</p>
              </div>
            </section>
          </FadeInWrapper>
        ))
      }
      <a class="link link-back" href="/products/"><span>商品一覧を見る</span></a>
    </section>
    <section class="section-gray brand-story-section">
      <h2 class="h2"><span class="h2-sub">BRAND STORY</span>ブランドストーリー</h2>
      <div class="brand-story">
        <p>きっかけは肩こりでした。</p>
        <p>
          仕事中毎日同じ体勢を続けることで固まっていくカラダ、<br />
          体の痛みが毎日続くことでイライラしてしまい疲弊していくココロ、<br />
          疲れがたまりどんどんと気持ちは暗く沈んでしまいます。<br />
        </p>
        <p>
          そんな時にふと光明を見つけます。<br />
          古くなった枕を買い替えたところ肩が少しだけ楽に軽くなったのです。
        </p>
        <p>
          1日8時間、私たちの頭と首を支えてくれている枕。<br />
          なんでもいいわけがありません。<br />
          そこから日本中を、また世界各国の枕を調べつくし、<br />
          私たちの製品の第一弾である<br />
          「首と肩のことだけを考えたダブル枕」にたどり着きました。
        </p>
        <p>
          是非一度使ってみてください。<br />
          多くのお客様から喜びの声をたくさん頂いています。<br />
          皆様の明るい未来を願っています。
        </p>
        <div class="story-img-1">
          <SlideAppearWrapper client:idle>
            <img src="/top/story_1.png" loading="lazy" alt="" class="" />
          </SlideAppearWrapper>
        </div>
        <div class="story-img-2">
          <SlideAppearWrapper client:idle><img src="/top/story_2.png" loading="lazy" alt="" /></SlideAppearWrapper>
        </div>
      </div>
    </section>
  </main>
  <Footer isLight />
  <Loading />
</Layout>

<style>
  .concept {
    background-color: var(--white);
  }
  .concept-inner {
    display: grid;
    grid-template-columns: 90px minmax(auto, 740px);
    gap: 95px;
    justify-content: center;
    max-width: 1200px;
    position: relative;
    padding: 120px 40px 104px;
    margin: auto;
  }
  .concept-back {
    position: absolute;
    right: 80px;
    bottom: 60px;
  }
  .concept-text {
    position: relative;
  }
  p {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 2px;
    text-align: justify;
  }
  .section-gray {
    background-color: var(--gray100);
    padding: 120px;
    position: relative;
  }
  .section-white {
    background-color: var(--white);
    padding: 120px;
  }
  .h2 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 6px;
    line-height: 2;
    margin-bottom: 64px;
    position: relative;
  }
  .h2::before {
    content: '';
    border: 0.3px solid var(--black);
    width: 90px;
    position: absolute;
    left: -120px;
    top: 45px;
  }
  .h2-sub {
    font-size: 14px;
    font-weight: 500;
    color: var(--gray300);
    display: block;
    letter-spacing: 2px;
  }
  .wish-section {
    padding: 64px 120px;
    margin: 0 -120px;
  }
  .wish-inner {
    max-width: 1200px;
    margin: auto;
  }
  .wish-right {
    display: flex;
    justify-content: flex-end;
  }
  .wish-content {
    background-color: var(--white);
    padding: 32px 40px 38px;
    width: 380px;
    border-radius: 8px;
    display: grid;
    gap: 16px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  .wish-h3 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 2;
  }
  .wish-p {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 2px;
    text-align: justify;
  }
  .back-1 {
    background-image: url('/top/wish_1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  .back-2 {
    background-image: url('/top/wish_2.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .back-3 {
    background-image: url('/top/wish_3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  .product {
    display: grid;
    grid-template-columns: 340px 1fr;
    gap: 64px;
    max-width: 1200px;
    margin: 0 auto 120px;
    align-items: start;
  }
  .product-h3 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 2;
  }
  .product-h4 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 6px;
    line-height: 2;
  }
  .product-text {
    display: grid;
    gap: 8px;
  }
  .product-link {
    width: 100%;
    height: 260px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  .product-link:hover img {
    transform: scale(1.1);
  }
  .product-img {
    width: 100%;
    transform: scale(1);
    transition: 0.3s ease-in-out;
  }
  .product-description {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 16px;
  }
  .link {
    display: block;
    max-width: 480px;
    background-color: var(--black);
    text-align: center;
    border-radius: 40px;
    letter-spacing: 6px;
    line-height: 2;
    position: relative;
    border: 1px solid var(--black);
    overflow: hidden;
    padding: 16px 40px;
    margin: auto;
    z-index: 1;
  }
  .link span {
    color: var(--white);
  }
  .link:hover {
    border: 1px solid var(--black);
    z-index: 3;
  }
  .link:hover span {
    z-index: 3;
    position: relative;
    color: var(--black);
  }

  .link-back::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: var(--white);
    width: 100%;
    height: 100%;
    transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    transform: scale(0, 1);
    transform-origin: right top;
  }
  .link-back:hover::before {
    transform-origin: left top;
    transform: scale(1, 1);
  }
  .brand-story {
    max-width: 1200px;
    margin: auto;
    position: relative;
  }
  .brand-story p {
    margin-bottom: 24px;
  }
  .story-img-1 {
    position: absolute;
    right: -120px;
    top: -300px;
    border-radius: 10px;
    overflow: hidden;
    width: 500px;
  }
  .story-img-2 {
    position: absolute;
    right: 10%;
    top: 260px;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
  }
  .sp {
    display: none;
  }
  @media (max-width: 1200px) {
    .story-img-1 {
      border-radius: 10px 0 0 10px;
      width: 400px;
    }
    .story-img-2 {
      right: 0;
    }
  }
  @media (max-width: 660px) {
    .sp {
      display: block;
    }
    .concept-inner {
      grid-template-columns: 1fr;
      gap: 32px;
      place-items: center;
    }
    .concept-back {
      bottom: 0;
      top: 140px;
      right: 46px;
      width: 280px;
    }
    .concept-text {
      font-size: 14px;
    }
    .section-gray {
      padding: 48px 32px;
    }
    .section-white {
      padding: 48px 32px;
    }
    .h2 {
      font-size: 16px;
      margin-bottom: 32px;
    }
    .h2::before {
      width: 20px;
      left: -32px;
      top: 43px;
    }
    .wish-section {
      padding: 32px;
      margin: 0 -32px;
      position: relative;
    }
    .wish-inner {
      position: absolute;
      top: 200px;
      width: 311px;
      right: 50%;
      transform: translateX(50%);
    }
    .wish-content {
      width: 100%;
      padding: 32px;
    }
    .wish-h3 {
      font-size: 20px;
    }
    .wish-p {
      font-size: 14px;
    }
    .back-1 {
      background-position: bottom 1px right -60px;
      height: 300px;
      margin-bottom: 240px;
    }
    .back-2 {
      background-position: bottom 1px left -100px;
      height: 300px;
      margin-bottom: 270px;
    }
    .back-3 {
      background-position: bottom 1px right -100px;
      height: 300px;
      margin-bottom: 240px;
    }
    .product {
      grid-template-columns: 1fr;
      gap: 16px;
      margin-bottom: 72px;
    }
    .product-h3 {
      font-size: 22px;
    }
    .product-h4 {
      font-size: 18px;
    }
    .product-description {
      font-size: 14px;
    }
    .link {
      margin-bottom: 24px;
    }
    .brand-story {
      margin-bottom: 340px;
      max-width: 100%;
    }
    .brand-story p {
      font-size: 14px;
    }
    .brand-story-section {
      margin-bottom: 160px;
    }
    .story-img-1 {
      right: -32px;
      top: initial;
      bottom: -240px;
      width: 270px;
      height: 200px;
    }
    .story-img-2 {
      left: 0px;
      top: initial;
      bottom: -480px;
      width: 230px;
    }
  }
</style>
