---
import AddToCart from '../../components/AddToCart.astro'
import Footer from '../../components/Footer.astro'
import Header from '../../components/Header.astro'
import { Carousel } from '../../components/react/Carousel'
import { products } from '../../constants/products'
import Layout from '../../layouts/Layout.astro'

export const getStaticPaths = () => {
  return products.map(({ code }) => ({ params: { product: code } }))
}

const { product: code } = Astro.params
const product = products.find((product) => product.code === code)!
const accessToken = import.meta.env.STORE_FRONT_ACCESS_TOKEN ?? ''
---

<Layout {...product.pageMeta}>
  <Header />
  <section class="section">
    <Carousel client:only="react" images={product.thumbnail} title={product.title} />
    <div class="info">
      <h1 class="h1">{product.title}</h1>
      <h2 class="h2">{product.subtitle}</h2>
      <p class="description">{product.description}</p>
      <div class="cart">
        <AddToCart productId={product.shopifyId} accessToken={accessToken} />
      </div>
    </div>
    <p class="caution">
      ※{
        product.title
      }は株式会社サバキューの販売する商品です。「カートに追加」「購入手続きへ進む」をクリックするとSurvaQ公式ショップの購入ページへ遷移いたします。
    </p>
  </section>
  <Footer />
</Layout>
<style>
  .section {
    display: grid;
    grid-template-columns: minmax(auto, 500px) 1fr;
    grid-template-rows: minmax(300px, 500px);
    column-gap: 80px;
    row-gap: 104px;
    max-width: 1200px;
    padding: 80px 80px 120px;
    margin: auto;
  }
  .info {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .h1 {
    font-size: 32px;
    letter-spacing: 6px;
    font-weight: 700;
  }
  .h2 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 2;
    margin-top: 16px;
  }
  .description {
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 2;
    margin-top: 16px;
  }
  .cart {
    margin-top: 32px;
  }
  .cart #buy-button {
    font-size: 50px;
  }
  .caution {
    font-size: 14px;
    letter-spacing: 2px;
  }
  .carousel_img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    border-radius: 10px;
  }
  @media (max-width: 768px) {
    .section {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: 56px;
      padding: 32px 32px 60px;
    }
    .info {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    .h1 {
      font-size: 22px;
      letter-spacing: 4px;
    }
    .h2 {
      font-size: 18px;
      margin-top: 8px;
      letter-spacing: 2px;
    }
    .description {
      font-size: 14px;
      margin-top: 16px;
    }
  }
</style>
