---
import AddToCart from '../../components/AddToCart.astro'
import { products } from '../../constants/products'
import Layout from '../../layouts/Layout.astro'

export const getStaticPaths = () => {
  return products.map(({ code }) => ({ params: { product: code } }))
}

const { product } = Astro.params
const productId = 7110153404621 // TODO: 出し分け
const accessToken = import.meta.env.STORE_FRONT_ACCESS_TOKEN ?? ''
---

<Layout title={product}>
  <div>this is {product}({productId}) page</div>
  <AddToCart productId={productId} accessToken={accessToken} />
</Layout>
